OPENAI_API_KEY=
OPENAI_BASE=
ANTHROPIC_API_KEY=
LLM_MODEL_ID=gpt-5
LOG_DIR=./logs
OUTPUT_DIR=./outputs
DATA_DIR=./data
CHROMA_DB_DIR=./data/indices/chroma


HCHAT_ENABLED=false
HCHAT_BASE_URL=https://h-chat-api.autoever.com/v2/api
HCHAT_API_KEY=
HCHAT_PROVIDER=claude
HCHAT_AUTH_STYLE=
